---
import '@/styles/globals.css'
import Layout from '../layouts/Layout.astro';
import SlideShow from '../components/SlideShow'

const URL = "http://localhost:5000/file"
const response = await fetch(URL)
const { dicom_list } = await response.json()

const orderedImages = dicom_list.sort(new Intl.Collator("es").compare)

console.log(orderedImages)
---

<Layout>
<h1 class="font-semibold text-4xl">Welcome</h1>
    <SlideShow client:load images={orderedImages} URL={URL} />
</Layout>
